:root{
    /* font */
    /* --font: "Santoshi", sans-serif; */
    --font: "General Sans", sans-serif;
    --secFont: "Boska", serif;

    /* colors */
    --prim: #75616A;
    --sec: #4A3C4B;
    --ter: #282538;
    --text: #EFEAE7;
    --icon: #CDC2C0;
    --background: #0E070E;

    /* custom text size */
    --title: 48px;
    --heading: 28px;
    --subparagraph: 20px;
    --paragraphs: 18px;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf") format("opentype");
    font-weight: regular;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Italic.otf") format("opentype");
    font-weight: italic;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
    font-family: "General Sans";
    src: url("/font/GeneralSans_Complete/Fonts/OTF/GeneralSans-Medium.otf") format("opentype");
    font-weight: medium;
}

@font-face {
    font-family: "Boska";
    src: url("/font/Boska_Complete/Fonts/OTF/Boska-BlackItalic.otf") format("opentype");
    font-weight: BlackItalic;
}

@font-face {
    font-family: "Boska";
    src: url("/font/Boska_Complete/Fonts/OTF/Boska-BoldItalic.otf") format("opentype");
    font-weight: BoldItalic;
}

@font-face {
    font-family: "Boska";
    src: url("/font/Boska_Complete/Fonts/OTF/Boska-MediumItalic.otf") format("opentype");
    font-weight: MediumItalic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    border-radius: var(--cardBorderRadius);
    margin: 2vh 0;
}

html,
body {
    overflow-x: hidden;
    background: var(--background);
    /* background: #0E070E; */
    /* background-color: var(--background); */
    color: var(--text);
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    font-family: var(--font);
    scroll-behavior: smooth;
}

::selection,
a::selection,
h1::selection,
h2::selection,
p::selection,
.gradient-text::selection {
    background: #ffd15ced;
    z-index: 1;
    color: var(--sec);
}
a:-webkit-any-link {
    text-decoration: none;
    transition: color 0.5s ease;
    color: var(--text);
}

a:hover {
    color: var(--sec);
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    margin: 2vh 18vh;
    padding: 1vh 8vh;
    border-radius: 3rem;
    /* box-shadow: inset 0 10px 10px 20px linear-gradient(45deg, var(--prim) 0%, var(--sec) 50%, var(--ter) 100%); */
    /* background: linear-gradient(45deg, var(--prim) 0%, var(--sec) 50%, var(--ter) 100%); */
    opacity: 0.9;
}

.left-side{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.left-side img{
    margin: 0;
}

.right-side {
    position: relative;
}

.right-side a {
    position: relative; 
    margin: 0 10px; 
}

.right-side a::after{
    content: ''; 
    position: absolute; 
    top: -4px; 
    left: 0; 
    width: 0; 
    height: 3px; 
    background: var(--text);
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
}

.right-side a:hover::after{
    width: 100%; 
    transform: scaleX(1);
    transform-origin: bottom left; 
}

.right-side a:hover{
    color: var(--icon);
}

.title{
    font-size: 10vh;
}

/* devpost icon */
.fa-devpost {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.002 1.61L0 12.004L6.002 22.39h11.996L24 12.004L17.998 1.61zm1.593 4.084h3.947c3.605 0 6.276 1.695 6.276 6.31c0 4.436-3.21 6.302-6.456 6.302H7.595zm2.517 2.449v7.714h1.241c2.646 0 3.862-1.55 3.862-3.861c.009-2.569-1.096-3.853-3.767-3.853Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    mask-image: var(--svg);
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#about, #projects, #funzies, .socials, .collab, .footer{
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about{
    background: var(--background);
    background-image: url('pic/kaomoji.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    width: 100%;
    bottom: 0;
    margin: 40px 0;
    position: relative;
}

.bunny {
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30vh;
}

#techStack {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background: linear-gradient(var(--background) 0%, var(--ter) 100%);
}

.techCol {
    flex: 1; 
    text-align: left; 
    padding-left: 50px;
}

.techCol h1{
    font-size: var(--title);
}

.techCol a{
    font-size: 20px;
}

.techStackImg {
    margin-left: auto; 
}

.techStackImg img {
    max-width: 100%; 
    height: auto;
}

/* sosmed bar */
#sosmed-bar{
    margin: 0px;
    padding-top: 30px;
}

.s-icon{
    border-radius: 30px;
    padding:5px 20px 5px 15px;
    width: fit-content;
}

.s-icon i{
    margin: 0 10px;
    transition: 0.2s linear;
    font-size: 30px;
}

.s-icon :hover i{
    transform: scale(1.05);
}

/* sosmed bar @home */
/* .sosmedHome{
    display: flexbox;
    justify-content: space-evenly;
} */


.icon{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

#sosmed-bar2{
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* project gallery preview */
#projects{
    padding: 0 80px 20px 80px;
    /* display: flex;
    align-items: stretch; */
    /* gap: 10px; */
}

#projects h1{
    font-size: var(--title);
    padding: 80px;
    /* margin: 20px; */
}

/* .projCol{ */
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
/* } */

.projCol img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s, box-shadow 0.3s;
}

.prev1{
    /* background-color:var(--sec); */
    background: linear-gradient(to right, var(--icon), var(--prim));
    padding: 4px;
    border-radius: 20px;
    /* width: fit-content; */
    /* border: 3px solid var(--icon); */
}

.prevCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sec);
    border-radius: 16px;
    padding: 0px 10px;
    padding-bottom: 30px;
    position: relative;
    min-height: 300px;
}

.projPic{
    border-radius: 18px;
}

.awards {
    position: absolute;
    top: 20px;
    right: 0px;
    background: var(--ter);
    font-size: var(--subparagraph);
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.projCol2{
    font-size: var(--paragraphs);
    text-align: right;
    margin: 20px 90px 30px 0;
}

/* funzies */
#funzies{
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    background: linear-gradient(var(--ter) 0%, var(--background) 100%);
}

#funzies h1{
    font-size: var(--title);
    font-style: italic;
    margin-bottom: 20px;
    z-index: 1000;
}

.funItem{
    --items: 5;
    --width: clamp(150px, 30vw, 300px);
    --height: clamp(200px, 40vw, 400px);
    --x: calc(var(--active) * 200%);
    --y: calc(var(--active) * 50%);
    --rot: calc(var(--active) * 120deg);
    --opacity: calc(var(--zIndex) / var(--items) * 3 - 2);
    overflow: hidden;
    position: absolute;
    /* z-index: var(--zIndex); */
    width: var(--width);
    height: var(--height);
    margin: calc(var(--height) * -0.5) 0 0 calc(var(--width) * -0.5);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-origin: 0% 100%;
    box-shadow: 0 10px 20px 10px var(--ter);
    background: var(--ter);
    pointer-events: all;
    transform: translate(var(--x), var(--y)) rotate(var(--rot));
    transition: transform 0.8s cubic-bezier(0, 0.02, 0, 1);
    background-size: cover;
    background-position: cover;
}

.funItem .funBox {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    opacity: var(--opacity);
    font-family: var(--secFont);
}

.funItem .funBox:before {
    content: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5));
}

.funItem .title {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 3vw, 30px);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.funItem .num {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
    transition: opacity 0.8s cubic-bezier(0, 0.02, 0, 1);
    font-size: clamp(20px, 10vw, 80px);
}

.funItem img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

/* connect: collab + sosmed bar 2 */
/* .connect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 50px;
} */

.connect, .collab{
    margin: 40px;
}

.collab span{
    font-family: var(--secFont);
    font-style: italic;
}

.collab p{
    font-size: var(--heading);
    font-weight: bold;
}

.collab a{
    font-size: var(--subparagraph);
    background-color: var(--ter);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
    border-radius: 10px;

    border: 2px solid var(--icon);
    color: var(--icon);
    box-shadow: 0 0 5px var(--icon); 
    transition: box-shadow 0.3s ease; 
}

.collab a:hover{
    color: var(--text);
    background-color: var(--sec);
    border: 2px solid var(--prim);
    box-shadow: 0 0 10px var(--ter);
}

.icon{
    border-radius: 20px;
}

.socials{
    margin: 0 5px;
    transition: 0.2s linear;
    color: var(--icon);
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--icon);
    box-shadow: 0 0 10px var(--icon); 
    transition: box-shadow 0.3s ease; 
}

.socials p{
    font-size: var(--subparagraph);
    font-family: var(--secFont);
    font-style: italic;
}

.s-icon2 a{
    font-size: 40px;
    color: var(--icon)
}

.s-icon2 i:hover{
    color: var(--prim);
}

/* Container for the custom dropdown */
#categoryFilter {
    display: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Button for the dropdown */
.showAll, .dropbtn {
    background-color: var(--sec); 
    color: var(--text); 
    margin: 10px 5px;
    padding: 10px 20px; 
    font-size: var(--paragraphs); 
    border: 1px solid var(--text); 
    border-radius: 8px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sec);
    border: 1px solid var(--text);
    min-width: 160px; 
    padding: 10px;
    z-index: 1;
    border-radius: 4px; 
    overflow: hidden;
}

.dropdown-content a {
    display: block;
    padding: 10px;
}

.view-opt a:hover {
    background-color: var(--prim);
    color: var(--text);
    border-radius: 6px;
    border: 1px solid var(--text);
}

.show {
    display: block;
}

/* projects page */
.projects, .aboutSec {
    padding: 40px;
    margin: 40px;
}

.projectHome{
    margin: 30vh 20vh 40vh 0;
    padding-left: 10vw;
}

.projectHome h1{
    font-size: 70px;
    margin: 10px;
}

.projectHome h2{
    font-size: var(--heading);
    margin: 10px;
}

.projectHome h2 span, #projects span, #funzies h1{
    font-family: var(--secFont);
    font-style: italic;
}

.projCol {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 2 equal-width columns */
    gap: 20px; /* Space between grid items */
}

/* Optional: Define styles for the project items */
.column {
    background: linear-gradient(to right, var(--icon), var(--prim));
    padding: 4px;
    border-radius: 20px;
    /* background: var(--sec);  */
    border-radius: 20px; 
    overflow: hidden;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 5px var(--icon); 
    transition: transform 0.3s ease; 
}

.column:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, var(--ter), var(--sec));
    box-shadow: 0 0 10px var(--ter); 
}

.prevCont {
    display: flex;
    flex-direction: column;
}

.prevCont:hover {
    background: var(--background);
}

.projPic img {
    width: 100%; 
    height: auto; 
}

.tags a{
    display: inline-flex;
    border-radius: 6px;
    border: 3px solid var(--icon);
    color: var(--icon);
    padding: 10px;
    margin: 20px 4px 10px 4px;
    box-shadow: 0 0 10px var(--icon); 
    transition: box-shadow 0.3s ease; 
}

.tags a:hover{
    box-shadow: 0 0 20px var(--icon);
    border-color: var(--prim);
    color: var(--prim);
}

.link a, .link p{
    display: inline-flex;
    border-radius: 6px;
    color: var(--text);
}

.link a{
    font-style: italic;
    margin: 8px;
}

.link a:hover {
    color: var(--prim);
}

/* about me page */
.aboutSec {
    position: relative;
    padding: 40px 100px;
    margin: 0 20px;
}

.name {
    background-color: var(--sec);
    border-radius: 30px;
    padding: 10px 15px;
    z-index: 1;
    position: absolute;
    margin: 0 25vw;
    top: 10px;
    left: 10px; 
}

.name i{
    color: var(--icon);
}

.me {
    height: auto; 
    margin-right: 20px; 
    max-width: 110%;
}

.bio p{
    font-size: var(--subparagraph);
    /* display: inline-flex;
    border-radius: 6px;
    border: 3px solid var(--icon);
    color: var(--icon);
    padding: 10px;
    margin: 20px 10px 20px 0;
    box-shadow: 0 0 5px var(--icon); 
    transition: box-shadow 0.3s ease;  */
}

.name i, .bio i{
    margin-right: 10px;
}

.desc {
    flex: 1; 
}

.intro {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.desc-container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* max-width: 600px; */
}

.skills {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--sec);
    border-radius: 10px;
}

.skills h3 {
    text-align: left;
    /* margin-bottom: 20px; */
}

.skill {
    margin-bottom: 5px;
}

.skill p {
    margin: 0 0 5px 0;
}

.progress-bar {
    height: 20px;
    background-color: var(--prim);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--ter); 
    overflow: hidden;
    position: relative;
    width: 0;
    transition: width 4s ease;
}

.recently{
    margin-top: 20px;
}

.notifBar {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    /* border: 1px solid var(--icon); */
    border-radius: 10px;
    background-color: var(--sec);
    box-shadow: 0 0 15px var(--ter); 
    margin: 30px 0px;
    transition: transform 0.3s ease; 
}

.notifBar:hover, .skills:hover{
    background-color: var(--ter);
    box-shadow: 0 0 15px var(--icon); 
}

.appPic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 15px 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 5px; */
}

.title-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time {
    margin-left: auto;
    opacity: .5;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description {
    flex: 1;
    margin-right: 10px;
}

.bottom a:hover{
    color: var(--icon);
}

/* pop up folders */
.libTitle{
    font-family: var(--secFont);
}

.library {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    margin: 0 40px;
}

.folder1, .folder2, .folder3, .folder4 {
    margin: 0 30px;
    text-align: center;
}

.folder-icon {
    width: 100px; 
    cursor: pointer;
    transition: transform 0.3s;
}

.folder-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px var(--sec);
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7); 
    overflow: hidden; 
    align-items: center; 
    justify-content: center; 
}

.popup.active {
    display: flex;
}

.popup img{
    margin: 10px;
    border-radius: 8px;
}

.popup-content {
    background-color: var(--background);
    margin: 8% auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.close {
    color: var(--icon);
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: var(--subparagraph);
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--prim);
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
        margin: 2vh 5vh;
        padding: 1vh 4vh; 
    }

    .left-side {
        width: 100%; 
        justify-content: center; 
        margin-bottom: 1vh;
    }

    .right-side {
        width: 100%; 
        display: flex;
        justify-content: center;
        margin-top: 1vh;
    }

    .right-side a {
        margin: 0 5px;
    }
    /* home */
    .title{
        font-size: 5vh;
    }

    .auto-type, .auto-type span{
        font-size: 2vh;
    }

    .bunny img{
        max-width: 70%;
    }

    #about{
        background-image: none;
        height: auto; 
    }

    #sosmed-bar {
        top: 0;
        left: 0;
        flex-direction: row; 
        margin-top: 0;
    }

    .s-icon{
        padding: 0;
        margin: 0 0 4vh 0;
    }

    .s-icon h3 {
        display: none; 
    }

    .techCol h1{
        font-size: var(--heading);
    }
    
    .techCol a{
        font-size: var(--paragraphs);
    }

    #projects h1{
        font-size: var(--heading);
        padding: 0;
        margin-bottom: 20px;
    }

    #funzies{
        height: 80vh;
    }

    /* about */
    .intro{
        display: block;
    }

    /* projects */
    .view-opt{
        margin: 20px 0;
    }

    .custom-dropdown{
        margin: 20px 0;
    }
    
    .projCol {
        grid-template-columns: 1fr; 
    }
}